/* Base */

* .lieber-carro {
    box-sizing: border-box;
}

.lieber-carro *:focus {
    outline: none !important;
    box-shadow: none !important;
}

.lieber-carro ul {
    margin-bottom: 0;
}

.lieber-carro hr.hr-blue {
    border: 0;
    display: block;
    margin: 20px auto 10px;
    border-top: #337ab7 solid thin;
    width: 60%;
}

/* Forms */

.lieber-carro label.required:after {
    content: "*";
    color: #ff0000;
}

.lieber-carro input,
.lieber-carro select,
.lieber-carro input.form-control,
.lieber-carro select.form-control,
.lieber-carro .form-control {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    height: 40px;
    box-shadow: none;
}

.lieber-carro input:focus,
.lieber-carro select:focus,
.lieber-carro input.form-control:focus,
.lieber-carro select.form-control:focus {
    border-color: #777;
}

.lieber-carro select {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjAwJyBoZWlnaHQ9JzIwMCcgZmlsbD0iIzAwMDAwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHg9IjBweCIgeT0iMHB4Ij48cGF0aCBmaWxsPSIjMDAwMDAwIiBkPSJNMTIgNWw0Ljk5NCA1aC05Ljk4OHpNMTIgMTlsLTQuOTk0LTVoOS45ODh6Ii8+PC9zdmc+") !important;
    background-size: 18px 18px;
    background-position: right 10px;
    background-repeat: no-repeat;
}

.lieber-carro .checkbox label::before {
    border-radius: 0;
}

.lieber-carro .checkbox input[type="checkbox"]:focus+label::before,
.lieber-carro .checkbox input[type="radio"]:focus+label::before {
    border-color: #777;
    outline: none;
    box-shadow: none;
}

.lieber-carro .checkbox input[type="checkbox"]:checked+label::after,
.lieber-carro .checkbox input[type="radio"]:checked+label::after {
    content: "\e806";
    font-family: 'icomoon' !important;
}

.lieber-carro .checkbox.checkbox-red label::before {
    border-color: red !important;
}

.lieber-carro .checkbox.checkbox-red input[type="checkbox"]:checked+label::after {
    color: red;
}

.lieber-carro .input-group-addon {
    border-radius: 0;
    background-color: #fff;
    color: #999;
}

.lieber-carro .radio {
    display: inline-block;
}

.lieber-carro .radio.red-radio label::before {
    border-color: #bf2734;
}

.lieber-carro .radio.red-radio label::after {
    border-color: #bf2734;
    background-color: #bf2734;
    width: 7px;
    height: 7px;
    left: 5px;
    top: 5px;
}


/* mobile  */

@media (max-width: 768px) {
    .lieber-carro form {
        border: #999 solid 2px;
        padding: 15px;
    }
}



/* Fonts */

body .lieber-carro {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #414042;
}



/* Typography */

.lieber-carro h3 {
    margin-top: 0;
}

.lieber-carro label,
.lieber-carro legend,
.lieber-carro .checkbox label,
.lieber-carro .radio label {
    font-weight: 300;
}

.lieber-carro legend {
    font-size: 14px;
    border-bottom: 0;
    margin-bottom: 5px;
}

.lieber-carro .title-bigger,
.lieber-carro .text-bigger {
    font-weight: 700;
    font-size: 21px;
}

.lieber-carro .title-big {
    font-weight: 700;
    font-size: 18px;
}

.lieber-carro .title-medium {
    font-weight: 700;
    font-size: 14px;
    margin-top: 3px;
}

.lieber-carro .text-highlight {
    font-size: 16px;
    font-weight: 400;
    color: #414042;
}


/* mobile  */

@media (max-width: 768px) {
    .lieber-carro .title-bigger,
    .lieber-carro .title-big {
        font-size: 14px;
    }
    .lieber-carro .title-bigger:after {
        content: "";
        display: block;
        margin: 5px auto 0;
        border-bottom: #337ab7 solid thin;
        width: 40%;
    }
}



/* Icons Typography */

.lieber-carro .icon-bigger {
    font-size: 32px;
    position: relative;
    bottom: -4px;
    line-height: 0;
}


/* Links */

.lieber-carro a.dropdown {
    text-decoration: underline;
    padding-right: 10px;
}

.lieber-carro a.dropdown:after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjAwJyBoZWlnaHQ9JzIwMCcgZmlsbD0iIzAwMDAwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDg0MS45IDU5NS4zIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA4NDEuOSA1OTUuMzsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGQ9Ik01MjguOSwyOTcuMiIvPjxwYXRoIGQ9Ik0yMTUuNSwxODkuNWMtMiwwLTMuOCwxLjItNC42LDMuMWMtMC44LDEuOS0wLjMsNCwxLjEsNS40bDIwNS42LDIwNS42YzEsMSwyLjMsMS41LDMuNSwxLjVzMi42LTAuNSwzLjUtMS41bDIwNS41LTIwNS41ICBjMS40LTEuMywxLjktMy41LDEuMS01LjVjLTAuOC0xLjktMi42LTMuMS00LjYtMy4xTDIxNS41LDE4OS41eiIvPjwvc3ZnPg==");
    background-size: 18px 18px;
    background-position: right 5px;
    background-repeat: no-repeat;
}

.lieber-carro .adicionales a.sh-toggle-btn.sh-toggle-shown::after {
    transform: rotate(180deg);
    background-position: right -5px;
}


/* Buttons */

.lieber-carro .btn-cta,
.lieber-carro .btn-print {
    border-radius: 0;
    text-transform: uppercase;
    padding-top: 9px;
    padding-bottom: 9px;
}

.lieber-carro .btn-print {
    background-color: #666;
    border-color: #666;
}



/* Total Price */

.lieber-carro .total-price {
    background-color: #fcdf87;
    padding: 10px;
}


/* Steps Menu */

.lieber-carro .nav {
    counter-reset: section;
}

.lieber-carro .nav>li~li {
    margin-left: 25px;
}

.lieber-carro .nav>li.active>a,
.lieber-carro .nav>li.active::after,
.lieber-carro .nav>li>a:hover,
.lieber-carro .nav>li:hover:not(:last-child)::after,
.lieber-carro .nav>li.active:not(:last-child)::after,
.lieber-carro .nav-pills>li.active>a,
.lieber-carro .nav-pills>li.active>a:focus,
.lieber-carro .nav-pills>li.active>a:hover {
    color: #337ab7;
    background-color: transparent;
}

.lieber-carro .nav>li>a {
    display: inline;
    padding: 10px 2px;
    font-weight: 700;
    color: #999;
}

.lieber-carro .nav>li>a::before {
    display: inline-block;
    margin-right: 3px;
    counter-increment: section;
    content: counter(section) ")";
}

.lieber-carro .nav>li:not(:last-child)::after {
    content: "\e82c";
    display: inline-block;
    position: absolute;
    bottom: -6px;
    right: -17px;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 32px;
    color: #999;
}


/* mobile Steps Menu */

@media (max-width: 768px) {
    .lieber-carro .nav>li:not(:last-child)::after {
        content: "";
        display: none;
    }
    .lieber-carro .nav>li {
        float: none;
        display: block;
        padding-bottom: 5px
    }
    .lieber-carro .nav>li.active a {
        background-color: #797fc0;
        color: #fff;
    }
    .lieber-carro .nav>li~li {
        margin-left: 0;
        ;
    }
    .lieber-carro .nav>li>a {
        display: block;
        border: #999 solid thin;
        border-radius: 0;
        padding-left: 30px;
        padding-right: 30px;
    }
}


/* Car Features */

.lieber-carro .car-features {
    margin-left: 0;
}

.lieber-carro .car-features li {
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* desktop Car Features */

@media (min-width: 768px) {
    .lieber-carro .car-features.inline-car-features ul {
        display: flex;
        justify-content: space-between;
    }
}


/* List Checked */

.lieber-carro .list-checked {
    list-style: none;
    padding-left: 0;
}

.lieber-carro .list-checked li {
    margin-bottom: 10px;
}

.lieber-carro .list-checked li:before {
    content: "\e806";
    display: inline-block;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}

.lieber-carro .list-checked.list-checked-green li:before {
    color: #39B54A;
}

.lieber-carro .list-checked.extras {
    font-weight: 400;
    margin-bottom: 80px;
}


/* mobile List Checked */

@media (max-width: 768px) {
    .lieber-carro .list-checked.extras {
        margin-bottom: 40px;
    }
}


/* Helpers */

.lieber-carro .mt-0 {
    margin-top: 0;
}

.lieber-carro .mt-1 {
    margin-top: 10px;
}

.lieber-carro .mt-15 {
    margin-top: 15px;
}

.lieber-carro .mt-2 {
    margin-top: 20px;
}

.lieber-carro .mt-25 {
    margin-top: 25px;
}

.lieber-carro .mt-3 {
    margin-top: 30px;
}

.lieber-carro .mt-35 {
    margin-top: 35px;
}

.lieber-carro .mb-0 {
    margin-bottom: 0;
}

.lieber-carro .mb-1 {
    margin-bottom: 10px;
}

.lieber-carro .mb-15 {
    margin-bottom: 15px;
}

.lieber-carro .mb-2 {
    margin-bottom: 20px;
}

.lieber-carro .mb-25 {
    margin-bottom: 25px;
}

.lieber-carro .mb-3 {
    margin-bottom: 30px;
}

.lieber-carro .mb-35 {
    margin-bottom: 35px;
}

.lieber-carro .mr-0 {
    margin-right: 0;
}

.lieber-carro .mr-1 {
    margin-right: 10px;
}

.lieber-carro .mr-15 {
    margin-right: 15px;
}

.lieber-carro .mr-2 {
    margin-right: 20px;
}

.lieber-carro .mr-25 {
    margin-right: 25px;
}

.lieber-carro .mr-3 {
    margin-right: 30px;
}

.lieber-carro .mr-35 {
    margin-right: 35px;
}

.lieber-carro .pt-0 {
    padding-top: 0;
}

.lieber-carro .pt-1 {
    padding-top: 10px;
}

.lieber-carro .pt-15 {
    padding-top: 15px;
}

.lieber-carro .pt-2 {
    padding-top: 20px;
}

.lieber-carro .pt-25 {
    padding-top: 25px;
}

.lieber-carro .pt-3 {
    padding-top: 30px;
}

.lieber-carro .pt-35 {
    padding-top: 35px;
}

.lieber-carro .pb-0 {
    padding-bottom: 0;
}

.lieber-carro .pb-1 {
    padding-bottom: 10px;
}

.lieber-carro .pb-15 {
    padding-bottom: 15px;
}

.lieber-carro .pb-2 {
    padding-bottom: 20px;
}

.lieber-carro .pb-25 {
    padding-bottom: 25px;
}

.lieber-carro .pb-3 {
    padding-bottom: 30px;
}

.lieber-carro .pb-35 {
    padding-bottom: 35px;
}

.lieber-carro .text-gray {
    color: #999;
}

.lieber-carro .text-light {
    color: #95979A;
}

.lieber-carro .text-red {
    color: #ff0000;
}

.lieber-carro .text-green {
    color: #39B54A;
}

.lieber-carro .bg-light-green {
    background-color: #D3E59E;
}

.lieber-carro .bg-lightest-gray {
    background-color: #F1F2F2;
}

.lieber-carro .d-block {
    display: block;
}

.lieber-carro .cols-3 {
    width: 30%;
}

.lieber-carro .box-border {
    border: #999 solid 2px;
    padding: 15px;
}

.lieber-carro .sh-toggle {
    display: none;
}



/* desktop helpers */

@media (min-width: 768px) {

    /* margins */
    .lieber-carro .mt-sm-0 {
        margin-top: 0;
    }
    .lieber-carro .mt-sm-1 {
        margin-top: 10px;
    }
    .lieber-carro .mt-sm-15 {
        margin-top: 15px;
    }
    .lieber-carro .mt-sm-2 {
        margin-top: 20px;
    }
    .lieber-carro .mt-sm-25 {
        margin-top: 25px;
    }
    .lieber-carro .mt-sm-3 {
        margin-top: 30px;
    }
    .lieber-carro .mt-sm-35 {
        margin-top: 35px;
    }

    /* paddings */
    .lieber-carro .pt-sm-0 {
        margin-top: 0;
    }
    .lieber-carro .pt-sm-1 {
        margin-top: 10px;
    }
    .lieber-carro .pt-sm-15 {
        margin-top: 15px;
    }
    .lieber-carro .pt-sm-2 {
        margin-top: 20px;
    }
    .lieber-carro .pt-sm-25 {
        margin-top: 25px;
    }
    .lieber-carro .pt-sm-3 {
        margin-top: 30px;
    }
    .lieber-carro .pt-sm-35 {
        margin-top: 35px;
    }

    .lieber-carro .pl-sm-0 {
        margin-left: 0;
    }
    .lieber-carro .pl-sm-1 {
        margin-left: 10px;
    }
    .lieber-carro .pl-sm-15 {
        margin-left: 15px;
    }
    .lieber-carro .pl-sm-2 {
        margin-left: 20px;
    }
    .lieber-carro .pl-sm-25 {
        margin-left: 25px;
    }
    .lieber-carro .pl-sm-3 {
        margin-left: 30px;
    }
    .lieber-carro .pl-sm-35 {
        margin-left: 35px;
    }

    /* float */
    .lieber-carro .float-sm-l {
        float: left;
    }
    .lieber-carro .float-sm-r {
        float: right;
    }

    /* utils */
    .lieber-carro .text-right-sm {
        text-align: right;
    }

    .lieber-carro .box-border-sm {
        border: #999 solid 2px;
        padding: 15px;
    }

    .lieber-carro .box-border-sm.box-border-green {
        border: #c2d88e solid 1px;
    }

    .lieber-carro .box-border-sm.box-border-red {
        border: #ff0000 solid 1px;
    }

    .lieber-carro .w-sm-100 {
        width: 100%;
    }

    .lieber-carro .same-height-sm {
        display: flex;
        align-items: stretch;
    }

    .lieber-carro .same-height-sm .col-r {
        min-height: calc(100% - 53px);
    }

    .lieber-carro .vertical-center-sm {
        display: flex;
        align-items: center;
    }
}


/* mobile helpers */

@media (max-width: 768px) {

    /* alignment */
    .lieber-carro .text-xs-center {
        text-align: center;
    }

    /* utils */
    .lieber-carro .text-center-xs {
        text-align: center;
    }

    .lieber-carro .w-xs-100 {
        width: 100%;
    }

    .lieber-carro .v-align-xs {
        display: flex;
        align-items: center;
    }

    .lieber-carro .bg-lightest-gray-xs {
        background-color: #F1F2F2;
    }

    .lieber-carro h3.bg-lightest-gray-xs {
        margin-top: 15px;
        margin-bottom: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        width: calc(100% + 30px);
        margin-left: -15px;
    }
}